

  .example-card {
    max-width: 300px;
    height: 430px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


  .menuContainer1{
    align-items: center;
    text-align: center;
  }

  .menuContainer2{
    align-items: center;
    text-align: center;
  }

  .custom-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    border-radius: 15px; 
  }

  .pagination-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px; 
  }

  .card-content {
    box-sizing: border-box;
    padding: 16px;
    overflow: hidden; 
  }



  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

  .center-actions {
    display: flex;
    justify-content: center;
    width: 100%;
  }